*{
	margin: 0;
	padding: 0;
}
body{
	font-family: 'Ubuntu', sans-serif;
}
.wrapper{
	width: 90%;
	margin: 0 auto;
}
ul li{
	list-style: none;
}

header{
	background: #445162;
	width: 100%;
	color: #fff;
}
.about_product{
	display: flex;
	
}
.about_product h1{
	font-size: 60px;
	font-weight: 400;
	padding: 50px 0 51px 0;
}
.about_product li{
	background: url("img//mark.png") 0px no-repeat;
	padding-left: 36px;
	margin-bottom: 17px;
}
.about_product_right{
	background: #fff;
	width: 469px;
	height: 214px;
	margin-left: auto;
	margin-top: 60px;
	margin-bottom: 51px;
}

.product_info_right{
	width: 430px;
	height: 245px;
	background: #445161;
	margin-left: auto;
}
.product_info{
	margin-top: 50px;
	margin-bottom: 50px;
	display: flex;
}
.product_info_left h2{
	font-size: 30px;
	font-weight: 400;
	color: #445161;
	margin-bottom: 30px;
}
.product_info_left p{
	margin-bottom: 20px;
	font-size: 16px;
	font-weight: 400;
	color: #333;
}

.mark_product{
	background: #f5f5f5;
	padding: 50px 0 50px 0;
}
.mark_product h3{
	text-align: center;
	font-size: 30px;
	font-weight: 400;
	color: #445161;
	margin-bottom: 30px;
}
.mark_product_pluses li{
	background: url("img//mark_plus.png") 0px no-repeat;
	padding-left: 42px;
	margin-bottom: 35px;
}
.mark_product_pluses{
	display: flex;
}
.mark_product_pluses_right{
	margin-left: auto;
}

.scrinshots_product{
	padding: 50px 0 50px 0;
}
.scrinshots_product h4{
	text-align: center;
	font-size: 30px;
	font-weight: 400;
	color: #445161;
	margin-bottom: 35px;
}
.scrinshots{
	display: flex;
}
.scrinshots_right{
	margin-left: auto;
}
.scrinshots_items{
	display: flex;
	margin-bottom: 30px;
}
.scrinshots_items_left{
	width: 200px;
	height: 150px;
	background: #445161;
}
.scrinshots_items_right{
	margin-left: 15px;
}
.scrinshots_items_right h5{
	font-size: 24px;
	font-weight: 400;
	color: #445161;
	margin-bottom: 15px;
}
.scrinshots_items_right p{
	font-size: 16px;
	font-weight: 400;
	color: #333;
}

.user_reviews{
	display: flex;
}
.reviews_right{
	margin-left: auto;
}
.reviews{
	padding: 50px 0 50px 0;
	background-color: #f5f5f5;
}
.reviews h6{
	text-align: center;
	font-size: 30px;
	font-weight: 400;
	color: #445161;
	margin-bottom: 35px;
}
.reviews_items{
	display: flex;
}
.reviews_items_left{
	width: 75px;
	height: 75px;
	background: #445161;
	border-radius: 100%;
	margin-top: 25px;
}
.reviews_items_right p{
	font-size: 14px;
	font-weight: 400;
	color: #333;
	margin-bottom: 15px;
}
.reviews_items_right p span{
	color: #989898;
}
.reviews_items_right{
	background: url("img//bg_review.png") 0px no-repeat;
	background-size: 100%;
	margin-left: 16px;
	padding: 25px;
}

.buy_product{
	padding: 50px 0 50px 0;
}
.buy_product h1{
	text-align: center;
	font-size: 30px;
	font-weight: 400;
	color: #445161;
	margin-bottom: 29px;
}
.standart{
	width: 300px;
	height: 306px;
	background: #445162;
	border-radius: 5px;
	padding-bottom: 20px;
	margin-right: auto;
	margin-top: auto;
}
.premium{
	width: 300px;
	height: 404px;
	background: #445162;
	border-radius: 5px;
	padding-bottom: 20px;
	margin: 0 auto;
	margin-top: auto;
}
.lux{
	width: 300px;
	height: 499px;
	background: #445162;
	border-radius: 5px;
	padding-bottom: 20px;
	margin-left: auto;
}
.buy_variant h6{
	text-align: center;
	font-size: 24px;
	font-weight: 400;
	color: #fff;
	padding: 16px 0 19px 0;
}
.price{
	width: auto;
	height: 71px;
	background: #fff;
	border: 2px solid #445162;
	margin-bottom: 20px;
}
.price h6{
	text-align: center;
	font-size: 40px;
	font-weight: 400;
	color: #445162;
}
.buy_variant ol{
	margin-left: 2em;
	font-size: 14px;
	font-weight: 400;
	color: #ffffff;
}
.buy_variant li {
	margin-bottom: 10px;
}
.buy_product button{
	width: 260px;
	height: 40px;
	margin-left: 20px;
	background: #ffffff;
	border: none;
	border-radius: 5px;
	text-transform: uppercase;
	font-size: 18px;
	font-weight: 400;
	color: #445161;
}
.buy_variant{
	display: flex;
}

footer{
	background: #445162;
	padding: 53px 0 49px 0;
}
footer h1{
	text-align: center;
	font-size: 30px;
	font-weight: 400;
	color: #fff;
}
.form_wrapper{
	width: 783px;
	margin: 0 auto;
}
input{
	width: 500px;
	height: 40px;
	margin-bottom: 22px;
	border: none;
	border-radius: 5px;
}
textarea{
	width: 500px;
	height: 170px;
	border: none;
	border-radius: 5px;
}
.contacts_left button{
	width: 140px;
	height: 40px;
	border: none;
	border-radius: 5px;
	text-transform: uppercase;
	color: #445162;
	background: #fff;
	font-size: 16px;
	font-weight: 400;
	margin-top: 20px;
	margin-left: 178px;
}
.contacts{
	display: flex;
}
.contacts_right_social{
	display: flex;
	justify-content: center;
}
.contacts_right_social img{
	margin-right: 5px;
}

.contacts_right li{
	color: #fff;
	font-size: 16px;
	font-weight: 400;
	padding-left: 30px;
	margin-bottom: 18px;
}
.skype{
	background: url("img//skype_icon.png")  no-repeat;
}
.icq{
	background: url("img//icq_icon.png")  no-repeat;
}
.mail{
	background: url("img//email_icon.png")  no-repeat;
}
.phone{
	background: url("img//phone_icon.png")  no-repeat;	
}

.contacts_right_social img:hover{
	opacity: 0.7;
}
button:hover{
	background: #D3D3D3;
}